.folderContainer{
      flex: 1;
      overflow-y: auto;
      background-color: #FBFBF9;
      padding: 0;
      width: 100%;
      height: auto;
      /* display: flex;
      align-items: center;
      flex-direction: column; */
}

#project-folder-container {
  display: flex;
  flex-flow: row nowrap;
  /* height: calc(100% - 2rem); */
  height: auto;
  width: 100%;
  /* position: absolute; */
  margin-top: 0;
}

.offcanvas-action-btn{
  padding: .675rem !important;
  border-radius: 50%;
}
.projectFolder-title{
  position:fixed;
  top: 1.5rem;
  right: 0;
  margin-right: 1rem;
  z-index: 10;
}


/* .form-group > select > option{
  font-size: 12px;
} */

.dropdown-item>input {
  width: auto;
}

/* Sidebar Styling */
.navmenu {
  padding: 0;
}

.subnav {
  margin-left: 20px;
}

#nav-label {
  text-decoration: none;
  color: #212A31;
  padding: 1px 5px 3px 5px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
}

#nav-item,
.subgroup-items,
.big-nav-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 5px 1px 5px;
}

.nav-toggle-icon {
  margin-left: auto;
}

#nav-item:hover,
.subgroup-items:hover,
.big-nav-wrapper:hover {
  background-color: #fec19db8;
  border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.nav-item-group.active,
.nav-item-subgroup.active {
  background-color: #fec19db8;
  /* Highlight color */
  border-left: 4px solid #eb6314;
  /* Accent */
  padding-left: 4px;
}


#nav-icons {
  color: #eb6314;
  margin-right: .60rem;
}

.projectFolder-sidebar {
  width: 13rem;
  background-color: inherit;
  padding: 0 0 0 15px;
  /* position: sticky !important; */

}

.projectFolder-sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.projectFolder-sidebar li {
  margin: 16px 0;
  font-size: 0.8rem;
  font-weight: 600;
}

.projectFolder-sidebar-container {
  background-color: #FBFBF9;
  border-right: 1px solid rgba(0, 0, 0, .12);
  height: auto;
  /* overflow-y: unset; */
  /* padding: 0; */
  /* position: fixed;  */
  /* z-index: 1000;   */
  /* border: 1px solid #fec19db8; */
  /* box-shadow: 5px 0px 5px 1px rgba(165, 163, 163, 0.402); */
}

/* Main Content Styling */
.projectFolder-display {
  flex-grow: 1;
  /* Takes the remaining space */
  padding: .5rem 0 0 0;
  /* background-color: #f3f3f7; */
  overflow-y: auto;
  /* In case content overflows */
  display: flex;
  flex-flow: column nowrap;
  min-height: 87vh;
}

.moduleFluid {
  width: 100%;
  height: auto;
}

#addFiles-btn {
  display: none;
}

.dataTables_wrapperz {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, .12);
}

.dataTables_wrapperz .rdt_Table, .dataTables_wrappers .rdt_Table > div{
  background-color: transparent !important;
}

.dataTables_wrapperz .rdt_TableCell {
  background-color: #fefdfc;
  font-size: 14px;
  color: #525252;
  padding: 9px 14px;
  border-bottom: 0.5px solid #67686a28;
}

.dataTables_wrapperz .rdt_TableHeadRow {
  background-color:   rgba(0, 0, 0, .05);
  font-size: 15px;
  color: #626262;
}

.dataTables_wrapperz .isyjeR:not(:last-of-type) {
  border-bottom: none !important;
}

.dataTables_wrapperz .isyjeR:is(:last-of-type) {
  border-bottom: 1px solid #67686a28;
}

.rdt_Pagination {
  background-color: transparent !important;
  border-bottom: none !important;
}

.draft-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 5px;
  color: #6a6976;
  background-color: #eaeaef;
  border: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  z-index: 9999 !important;
  top: 45px;
}
#release-dropdown-menu{
  flex-direction: unset;
  margin-left: -140px; 
  top: -10px;
  z-index: 1 !important;
}

.dropdown-menu button {
  border: none;
  background-color: #00000000;
  width: 60px;
  color: #6a6976;
  margin-bottom: 5px;
}

#viewFilters {
  top: 70px;
}

#activity-filter {
  margin: 7rem 0;
}

/* Global Filter Layout*/
.filter-dropdown {
  position: absolute;
  background: white;
  display: flex;
  flex-direction: column;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  z-index: 9999 !important;
  top: 35px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin: 7.5rem 0;
}

.dropdown-item {
  display: flex;
  align-items: center;
  /* margin: 5px 0; */
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;

}

.dropdown-item:hover {
  background-color: #FBFBF9;
}

.filter-label {
  margin: 0 6px
}

.filter-type {
  cursor: pointer;
}

/* End of Global Filter layout*/

/* Global Modal Styles */
#modal-releaseName,
#modal-dueDate,
#modal-todoTitle,
#modal-todoDesc,
#modal-todoPrio,
#modal-todoDueDate,
#modal-todoType {
  background-color: transparent;
  padding: .450rem;
  width: 100%;
}

#releaseAddModal, #releaseEditModal {
  width: 400px;
}

/* End of Global Modal Styles */

/* Global Toast Styles */
.toast-container{
  z-index: 1046;
  position: fixed;
  max-width: 300px;
}
.success-toast-container{
  background-color: #f7b996;
}
.success-toast-header{
  background-color: #fa9a61;
  font-weight: 700;
  font-size: .755rem;
}
.success-toast-body, .error-toast-body{
  font-size: .755rem;
}
.error-toast-container{
  background-color: #f39292;
}
.error-toast-header{
  background-color: #e06666;
  font-weight: 700;
  font-size: .755rem;
}
/* End of Global Toast Styles */

/* Project Explorer*/
.exportToCSV,
.exportToCSV:hover {
  color: #212A31;
  text-decoration: none;
}

.exportToCSV-white,
.exportToCSV-white:hover {
  color: #FFF;
  text-decoration: none;
}

.project-display.grid .grid-view {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-display.grid .grid-item {
  border: 1px solid #ccc;
  padding: 1.2rem;
  border-radius: 8px;
  background-color: #fefdfc;
  width: calc(33.333% - 20px);
  /* Adjust width for 3 items per row */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.fileOwner, .lastModified, .fileSize {
  font-weight: 500;
  color: #212a3183;
}
.file-icon{
  display: flex;
  justify-content: start;
}
.icon-img{
  max-width: 10vh;
  height: auto;
}

.file-info > h5, p {
  word-break: break-all;
}

.project-display.list {
  display: block;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.page-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #212A31;
  margin: 0;
}

.button-group {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.btn-icon {
  /* background-color: #f5f5f5; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn-icon:hover{
  background-color: #FBFBF9;
}
.btn-primary {
  background-color: #eb6314;
  color: white;
  border-radius: 5px;
}

#addbtn {
  margin-right: 5px
}

#addbtn:hover,
#addFiles-btn:hover {
  background-color: #eb6314;
}

/* .btn:hover {
  background-color: #ebebeb;
} */

.btn-default {
  background-color: #FFF;
  border: 1px solid #67686a28;
  border-radius: 2px;
  color: #212A31;
  box-shadow: none;
  background-image: none;
}

.btn-default:hover {
  background-color: #fec19db8;
  box-shadow: none !important;
  transform: none !important;
  color: #212A31;
  transition: ease-in-out .5s;
}

.edit-file-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#file-edited{
  border: 1px solid #9c9c9c49;
  background-color: #bfbfbf1e;
  color: #212a3183;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  font-size: .875rem;
}

.edit-file-inputField{
  background-color: #bfbfbf1e;
  padding: 10px;
  border: 1px solid #9c9c9c49;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  font-size: .875rem;
}


/* Project Views */



/* Project Activity Page*/

.activity-cards-box,
.topic-cards-box {
  flex-direction: column;
}

.activity-card {
  background-color: #fefdfc;
  border: 1px solid #67686a28;
  border-radius: 2px;
  margin-top: 5px;
  padding: 20px;
}

.activity-time {
  justify-content: flex-end;
}

.activity-type {
  /*flex: 0 0 1.5rem;*/
  margin-right: 1rem;
}

.activity-type-profile {
  /* flex: 0 0 1.5rem; */
  margin-right: 1rem;
  padding: 2px;
}

.activity-container {
  display: flex;
  width: 100%;
  /*border: 1px solid red;*/
  justify-content: flex-start;
  align-items: center;
}

.activity-file {
  color: #212a3183;
  cursor: pointer;
  font-weight: 500;
}

#excelExport:hover {
  background-color: #eb6314;
}

/* Project Topics */
#topic-card-btn-grp{
  position:relative;
  display: flex;
  gap: 0;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.offcanvas {
  /* z-index: 99999; */
  background: white;
  padding: 20px;
  width: 45% !important;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#topic-ocform-dropdown {
  background-color: #eb6314;
}

.topic-card {
  background-color: #FFF;
  border: 1px solid #67686a28;
  border-radius: 2px;
  margin-top: 20px;
  padding: 25px;
  box-shadow: 0 0 .25rem #aeaeb6;
}

.topic-time {
  justify-content: flex-end;
}

.topic-title {
  font-size: 24px;
  font-weight: 600;
}

.row-distribute {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Space between the rows */
}


.row-center,
.row-distributez {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.row-distribute,
.row-wrap-distribute {
  justify-content: space-between;
}

.align-top-button {
  align-items: flex-start !important;
}

.topic-users {
  font-size: 16px;
  color: #5a5a5a;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.assignee>p {
  border-right: 1px solid #626262;
  padding-right: 15px;
  white-space: nowrap;
  /* Prevents text from wrapping to a new line */
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 250px;
}
.creator > p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 250px;
}

.topic-config {
  font-size: 14px;
  color: #5a5a5a;
  align-items: center;
}

.topic-config ul {
  display: flex;
  gap: 10px;
  /* Space between list items */
  padding: 0;
  list-style-type: none;
  margin-bottom: 5px;
}

.topic-config li {
  font-size: 14px;
  color: #212A31;
}

.topic-icons {
  margin-right: 4px;
}

#topic-offcanvas{
  max-width: 350px;
}
/* topic end */


/* Project To Do */
.jNIkof {
  background-color: transparent !important;
}

.cTsUPQ {
  background-color: transparent !important;
}

.noData {
  background-color: transparent;
}

.circle {
  background-color: #e6e6e6;
  padding: 3.575rem;
  border-radius: 50%;
}

.no-display-text {
  display: flex;
  color: #aaa7a7;
  font-weight: 500;
  font-size: small;
  justify-content: center;
}

/* End of To Do Style */

/* Contributor Page Style*/
.custom-group-btn {
  font-size: 14px;
}

.contributor-wrapper {
  background-color: #FBFBF9;
  border-top: 1px solid #d0d0d7;
  display: flex;
  flex-flow: row nowrap;
  max-height: 100%;
  min-height: 100%;
  position: relative;
}



.tempPanel {
  display: flex;
  flex-flow: row nowrap;
}

.tableSection,
.tempPanel {
  height: 100%
}

.listPanel {
  border-right: 1px solid #d0d0d7;
  flex: 1 1 auto;
  flex-flow: column nowrap;

}

.listPanel,
.listHeader {
  display: flex;
  max-width: 14.5rem;
  min-width: 14.5rem;
}

.listHeader {
  align-items: center;
  border-bottom: 1px solid #d0d0d7;
  flex-flow: row nowrap;
  height: 4rem;
  justify-content: space-between;
  padding: 1rem;
}

.listWrapper {
  overflow-y: auto;
}

#customgroup {
  margin-top: 10px;
}

.sub-section {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.px-2 {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

.list {
  padding: 0;
  margin: 0;
}

.list .list-item.item-btn {
  padding: 0;
}

.selectable.active,
.selectable.selected {
  background-color: #fedac669;
  color: #eb6314;
  font-weight: 600;
}

.list .list-item {
  font-size: .875rem;
  min-height: 2.5rem;
  padding: .5rem 1rem;
}

.label-group {
  justify-content: center;
  min-height: 3rem;
}

.input-group,
.label-group {
  align-content: flex-start;
  display: flex;
  flex-flow: column nowrap;
  min-height: 3rem;
  margin-top: 5px;
  position: relative;
}

.label-group .value {
  font-size: .875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-group>label,
.label-group>label {
  align-items: center;
  align-items: flex-end;
  color: #6a6976;
  display: flex;
  flex-flow: row nowrap;
  font-size: .75rem;
  font-weight: 400;
  margin-bottom: 0;
  min-height: 1.5rem;
}

.panel-right {
  width: calc(100% - 14.5rem);
}

.tablePanel {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  height: calc(100% - 4rem);
  border: 1px solid rgba(0, 0, 0, .09);
}

.relative {
  position: relative;
}

.tableHeader {
  align-items: center;
  border-bottom: 1px solid #d0d0d7;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row nowrap;
  height: 4rem;
  justify-content: space-between;
  padding: 1rem;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  /* Change layout to column for tables */
  width: 100%;
  /* Ensure it spans the full width */
  max-height: 1920px;
  min-height: 510px;
  /* Allow dynamic height adjustment */
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .09);
}

.tableWrapper .table-list {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.table-list {
  font-size: .875rem;
  position: relative;
  width: 100%;
  height: 100%;
}

.tableHeader h3 {
  flex: 1 1 50%;
  max-width: 50%;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tableHeader .panelControls {
  flex: 1 1 auto;
}

.panelControls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.filters>div,
.view-button-container>div {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  font-size: .875rem;
}

.mr-n1 {
  margin-right: 1rem !important;
  cursor: pointer;
  padding: 0 4px 1px 4px;
}

.mr-n1:hover {
  background-color: #7073791e;
  border-radius: 5px;
  transition: ease-in-out .1s;
}

.view-group {
  border-bottom: 1px solid #67686a28;
}

.views-btn.active {
  border-bottom: 3px solid #eb6314;
  color: #eb6314;
}

.views-btn:hover {
  background-color: transparent;
}

.views-btn {
  background-color: transparent;
  padding: 0 1rem 0 1rem;
  color: #5a5a5a;
}

.search-icon,
.more-icon {
  color: #212A31;
  height: 20px;
  width: auto;
}

.search-button,
.more-button {
  background-color: transparent;
  border-radius: 50%;
  padding-bottom: 2px;
  border: none;
}

.search-button:hover,
.more-button:hover {
  background-color: #FBFBF9;
  transition: ease-in-out .5s;
}

.dropdown-pane-container {
  position: relative;
}


.table-sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}


.dataTables_wrapperx {
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.dataTables_wrapperx .rdt_Table {
  width: 100%;
  height: 100%;
  /* Ensure table width scales with parent */
}
.dataTables_wrapperx .rdt_Table > div, .dataTables_wrapperz .rdt_Table > div{
  background-color: #FBFBF9;
}
.dataTables_wrapperx .rdt_TableCell {
  background-color: #fefdfc;
  font-size: 14px;
  color: #525252;
  padding: 9px 14px;
  border-bottom: 0.5px solid #67686a28;
  align-content: center;
}

.dataTables_wrapperx .rdt_TableHeadRow {
  background-color: rgba(0, 0, 0, .05);
  font-size: 15px;
  color: #626262;
}

.dataTables_wrapperx .isyjeR:not(:last-of-type) {
  border-bottom: none !important;
}

.dataTables_wrapperx .isyjeR:is(:last-of-type) {
  border-bottom: 1px solid #67686a28;
}


/* Edit Project Styles*/
.sidebar-container {
  flex: 0 0 250px;
  /* Fixed width for sidebar */
  min-width: 200px;
  /* Prevent sidebar compression */
  max-width: 1000px;
  overflow-y: auto;
  background: #f8f9fa;
}

.module {
  background-color: #fefdfc;
  box-shadow: 0 0 .25rem #aeaeb6;
  box-sizing: border-box;
  padding: 1.75rem;
  border: 1px solid rgba(0, 0, 0, .05);
}

.module header {
  align-items: center;
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.project-img-settings {
  align-items: center;
  border: 1px solid #d0d0d7;
  display: flex;
  flex-flow: row nowrap;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.uploadBtn {
  bottom: 0;
  left: 4rem;
  position: absolute;
}

#uploadbtn:hover {
  background-color: #eb6314;
}

.project-location-crs .crs-heading,
.project-location-crs .map-heading {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 40px;
}

#crs-boundary-btn {
  background-color: transparent;
  border: none !important;
  border-radius: 50%;
  color: #212A31;
  width: 24px;
  height: 24px;
}

#leaveProjectbtn:hover {
  background-color: #FFF;
}

#deleteProjectbtn:hover {
  background-color: #dc3545;
}


/* Topic Config Settings */
#top-conf-btn,
#top-conf-btnz {
  background-color: transparent;
  border: none;
  color: #212A31;
  padding-bottom: 5px;
}

#top-conf-btn:hover {
  background-color: #67686a28;
}

#top-conf-btnz:hover {
  background-color: #67686a28;
  border-radius: 50%;
}

.text-meta {
  color: #6a6976 !important;
  font-size: .875rem;
  margin: 0;
  font-style: italic;
}

.action-btn {
  width: 22px;
  height: 22px;
  padding: 0;
  color: #67686ac4;
}

.dropdown-container {
  display: inline-block;
}

.dropdown-menu {
  min-width: 150px;
}

.dropdown-item {
  cursor: pointer;
  background: none;
  border: none;
}

#explorer-offcanvas, #release-offcanvas {
  width: 250px !important;
  padding: .875rem;
  background-color: #f3f3f7;
}


#offcanvas-dropdown {
  margin: 4rem 0 0 4rem;
  padding: 10px 15px 10px 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

#offcanvas-dropdown>.dropdown-item {
  font-size: 12px;
}

.offcanvas-head {
  border-bottom: 2px solid #67686a28;
  color: #212A31;
  cursor: default;
}

/* .offcanvas-head:hover{
  color: #eb6314;
} */
#offcanvas-btn:hover {
  background-color: #eb6314;
}

.offcanvas-header {
  width: 100% ;
  /* Takes full width of Offcanvas */
  /* max-width: 250px;  */
  display: flex;
  justify-content: space-between;
  /* Space between span and button group */
  align-items: center;
  /* Align vertically */
  padding: 2px 1px 5px 1px;
  flex: 0 0 auto;
  flex-flow: row nowrap;
}

.offcanvas-title{
  flex: 1 0;
}

.offcanvas-filters{
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
}
.offcanvas-filters > div {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.offcanvas-footer{
  align-items: center;
  border-top: .0625rem solid #d0d0d7;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%;
}

.releaseFilter-offcanvas-body{
  height: 680px;
  overflow-y: auto;
}
.offcanvas-filter-dropdown{
  position: fixed;
  background-color: #f3f3f7;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 200px;
  border: 1px solid #212a3183;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-top: 15px;
}
.offcanvas-dropdown-item{
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: start;
  margin-bottom:.5rem;
}

.offcanvas-dropdown-item > input {
  width: 20% !important;
}

.offcanvas-filters .filter-type {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: .5rem;
}

.offcanvas-button-group {
  display: flex;
  gap: 5px;
  /* margin-left: 3rem; */
}

.offcanvas-button-group2 {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px 0;
  width: 100%;
}

.file-title {
  font-size: 12px;
  /* Adjust as needed */
  font-weight: 600;
  /* white-space: nowrap; Prevents breaking into multiple lines */
  overflow: hidden;
  /* text-overflow: ellipsis; Adds '...' if text is too long */
  max-width: 150px;
  /* Adjust to control the space taken by the title */
}

.offcanvas-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #212A31;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;

  /* Adjust padding */
}

.offcanvas-btn:hover {
  background-color: #f5f5f5;
  /* Subtle hover effect */
  border-radius: 4px;
  /* Optional for rounded corners */
}

.offcanvas-body {
  padding: 0;
}

#todo-title,
#todo-desc,
#todo-assignee,
#release-name,
#due-date,
#recipients,
#project-group,
#project-invite,
#contrib-group-name,
#release-note,
#todo-due-date,
#todo-tags {
  margin: 0;
}

.todo-btn-success,
.rel-btn-success,
.contrib-btn-success,
#add-to-group-btn {
  background-color: #eb6314 !important;
}

.todo-btn-danger,
.todo-btn-danger:hover,
.rel-btn-danger,
.rel-btn-danger:hover,
.contrib-btn-danger,
.contrib-btn-danger:hover {
  background-color: transparent !important;
  color: #212A31;
}

#contrib-dropdown {
  margin-left: -115px
}

#topConf-dropdown {
  margin: -10px 0 0 -120px;
}

#boundary-dropdown {
  margin: -20px 0 0 -200px;
}

#CRS-dropdown {
  margin: -20px 0 0 -260px;
}

#toDo-dropdown,
#topic-dropdown {
  margin: -10px 0 0 -120px;
}

#contrib-filter-dropdown {
  margin: .875rem 0 0 -20px;
}


#projectName,
#startDate,
#endDate,
#description,
#newTopicType,
#newTopicStatus,
#newTopicPriority,
.input-focus-group>#unitSystem,
#unitLength,
#unitLengthValue,
#unitArea,
#unitAreaValue,
#unitVolume,
#unitVolumeValue,
#unitWeight,
#unitWeightValue,
#unitAngle,
#unitAngleValue {
  background-color: #FFF;
  border: 1px solid #5556581c;
  border-bottom: 1px solid #212a3183;
  height: 50px;
  width: 100%;
  padding: 10px;
}

.input-group.checkradio,
.label-group.checkradio {
  display: flex;
  flex-flow: row wrap;
  min-height: 3rem;
}

.input-group.checkradio .group-items,
.label-group.checkradio .group-items {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 1rem;
}

.checkbox,
.radio {
  align-items: center;
  display: flex;
  flex: 0 0 auto !important;
  height: 2.5rem;
  justify-content: center;
  position: relative;
  width: 2.5rem;
}

.input-group.checkradio .group-items label,
.label-group.checkradio .group-items>label {
  color: inherit;
  font-size: .875rem;
  min-height: auto;
  margin-top: 8px;
}

.custom-input {
  box-sizing: border-box;
  height: 1.2rem;
  position: relative;
  width: 1.2rem;
  z-index: 1;
}

#add-releaseNote-btn,
#add-details-btn {
  background-color: transparent;
  color: #212A31;
}

#add-releaseNote-btn:hover,
#add-releaseNote-btn:focus,
#add-details-btn:hover,
#add-details-btn:focus {
  box-shadow: none !important;
  transform: none !important;
  color: #eb6314;
}

#deleteUploadedfilesbtn {
  box-shadow: none !important;
  transform: none !important;
  background-color: transparent;
  font-size: 14px;
  color: #212A31;
}

#deleteUploadedfilesbtn:hover {
  color: rgb(168, 0, 34);
  text-decoration: underline;
}

#deleteUploadedfilesbtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sort-dropdown {
  display: flex;
}

#upload-thumbnail {
  background-color: transparent;
  border: none;
}


#nav-icons-toggle {
  color: #eb6314;
  float: inline-end;
}

/* .addFile-dropdown{
  display: none;
} */

.addFile-dd-icon {
  color: #eb6314;
}

.addFile-dropdown {
  position: absolute;
  top: 6.3rem;
  /* Position the dropdown above the button */
  right: 2rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1001;
  padding: 0.5rem 0;
}
.addFolder-subDropdown{
  position: absolute;
  top: 0;
  right: 12.5rem;
  background-color:  #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1001;
  padding: 0.5rem 0;
}

.addFile-dd-item, .addFolder-subdd-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.submenu-indicator{
  display: none;
}

.addFile-dd-item:hover, .addFolder-subdd-item:hover {
  background: #fec19db8;
  .submenu-indicator{
    display: unset;
    font-size: 0.8rem;
    color: #eb6314;
  }
}


.addFile-dd-icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.addFile-dd-divider {
  border-top: 1px solid #ddd;
  margin: 0.5rem 0;
}

#explorer-dropdown {
  left: -95px;
  top: 35px;
}

#todo-table-desc{
  width: 150px;
}

.todo-details-container{
  border-bottom: 1px solid #ddd;
}


.btn-icon{
  color: #525252;
}
.btn-icon.active{
  color: #212A31;
}
.edit-topic-btn, .delete-topic-btn{
  color: #525252;
}

.pdf-name{
  font-size: 16px;
  font-weight: 500;
  margin: .875rem 0;
  cursor: pointer;
}
.pdf-name:hover{
  color: #eb6314;
  text-decoration: underline;
}
.pdf-iframe{
  width: 100%;
  max-height: 600px;
  height: 600px;
}
.pdf-preview-container, .pdf-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.addQR-to-PDF{
  background-color: transparent !important;
  border: none !important;
  width: 50%;
}
.addQR-btn{
  margin-right: 1rem;
}

.pdf-preview-btnGroup > div > input {
  white-space: nowrap;
  overflow: hidden;        
  text-overflow: ellipsis;
  display: block;
  word-break: break-all;
  width: 100%;
}

/* multi pdf style */
.multipdf-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FFF;
}
.multipdf-controls{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.multipdf-controls > input {
  background-color: #FFF;
  border: none;
  /* color: #FFF !important; */
}
.multipdf-controls > input#file-upload-button {
  background-color: #eb6314;
  border: none !important;
  padding: 2px;
}
.pdf-preview-header{
  display: flex;
  align-items: center;
  padding: .785rem 0;
}
.multipdf-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* border: rgba(0, 0, 0, .05);
  border-radius: 5px;
  box-shadow: 0 0 .25rem #aeaeb6; */
  padding: 1rem;
}
.pdf-item-wrapper{
  border: rgba(0, 0, 0, .05);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 .25rem #aeaeb6;
}
.pdf-item{
  padding: 5px;

}
.multipdf-main-content{
  display: flex;
  flex-direction: column;
  border: rgba(0, 0, 0, .05);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 .25rem #aeaeb6;
}

.multipdf-viewer{
  max-height: 400px;
  max-width: 600px;
  width: 600px;
}
.multipdf-wrapper{
  display: flex;
  justify-content: space-around;
}
.extractedUrl{
  display: none;
}
.addqr-btn{
  background-color: #6B6B6B;
  border: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.pdfControl-btn{
  background-color: #eb6314;
  border: 0;
  padding: 5px;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

input[type=checkbox]#selectedPDF:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -1px;
  left: -1px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 1px;
  background-color: #FFF;
}

input[type=checkbox]#selectedPDF:checked:before {
  background-color: #f87c34;
}

input[type=checkbox]#selectedPDF:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 5px;
  
}
#selectedPDF {
  position: relative;
  width: auto;
  height: fit-content;    
}
.selectedPDF-label{
  font-size: .875rem;
  color: #6a6976;
}
/* end  of multi pdf */
/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  #projectList-container{
    width: 100%;
  }

  /* #add-new-project-btn{
    margin: 10px 0;
    position: relative;
    top: -10px;
  } */

  #projectFolder-title {
    margin-left: -65% !important;
    top: -80px;
  }
  #todo-table-desc{
  white-space: nowrap;
  overflow: hidden;        
  text-overflow: ellipsis;
  display: block;
  width: 100px;
  }
}

.filter-btn-icon{
  display: none;
}

@media (max-width: 768px) {
  .multipdf-wrapper{
    flex-direction: column !important;
  }
  .pdf-iframe{
    height: 400px;
  }

  .project-folder-icon, .ifc-viewer-icon, .delete-project-icon{
    width: 1.3rem;
    height: auto;
  }

  .container-content {
    flex-direction: column;
    /* Stack the sidebar and content */
  }

  #projectFolder-title {
    margin-top: .5rem;
    margin-left: -60% !important;
    z-index: 1 !important;
  }

  .projectFolder-sidebar {
    width: 100%;
    /* Sidebar takes full width on smaller screens */
    margin-bottom: 20px;
    /* Space between sidebar and content */
    /* height: 610px; */
    padding-left: 10px;
  }

  .page-title h2{
    font-size: 1.2rem;
  }

  #addbtn {
    display: none;
  }

  #addFiles-btn, .mobile-add-user-btn {
    border-radius: 50%;
    position: fixed;
    /* Fix the button relative to the viewport */
    bottom: 1rem;
    /* Distance from the bottom of the screen */
    right: 1rem;
    /* Distance from the right of the screen */
    border-radius: 50%;
    /* Make it circular */
    width: 3rem;
    /* Adjust the width */
    height: 3rem;
    /* Adjust the height */
    color: #fff;
    /* Optional: Set the text/icon color */
    display: flex;
    /* Center the content inside */
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Add shadow for better visibility */
    cursor: pointer;
    /* Change cursor to pointer */
    z-index: 1000;
    /* Ensure it stays on top */
  }

  .addFile-dropdown {
    position: absolute;
    top: unset;
    bottom: 4rem;
    /* Position the dropdown above the button */
    right: 2rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1001;
    padding: 0.5rem 0;
  }

  .addFile-dd-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .addFile-dd-item:hover {
    background: #fec19db8;
  }

  .addFile-dd-icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }

  .addFile-dd-divider {
    border-top: 1px solid #ddd;
    margin: 0.5rem 0;
  }

  #nav-icons-toggle {
    display: none;
  }

  .projectFolder-display {
    width: 100%;
    /* height: 610px; */
  }

  #release-filters{
    top: 15px;
    display: none !important;
  }
  .filter-btn-icon{
    display: unset;
  }

  /* #prio-due-div {
     display: flex;
     flex-direction: column;
     width: 100% !important;
   } */
  #todo-due-date,
  #todo-priority,
  #todo-type,
  #todo-title,
  #todo-assignee,
  #todo-desc {
    width: 96%;
    font-size: 16px;
  }

  /* #add-new-project-btn {
    width: 20%;
    height: 35px;
    font-size: 12px;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 10px;
    float: inline-end !important;
    top: -10px;
    position: relative;
  } */

  #nav-label {
    font-size: .875rem;
    display: none;
  }

  #nav-icons {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .subnav {
    margin-left: 10px;
    /* display: none; */
  }

  .grid-item h5 {
    font-size: 12px;
    font-weight: bold;
  }

  .grid-item p {
    font-size: .765rem;
    margin-bottom: .5rem;
  }

  .dropdown-item {
    font-size: .875rem;
  }

  .filter-dropdown>.dropdown-item {
    margin: 2px;
    padding: 1px;
  }

  /* .swal2-html-container{
    background-color: ;
  } */

  div:where(.swal2-container).swal2-center>.swal2-popup {
    width: 400px;
  }

  #share-with {
    width: 100% !important;
  }

  #share-with>option {
    font-size: 14px;
  }

  #topic-sort {
    width: 175px;
    font-size: 14px;
  }

  
.rdt_Pagination {
  justify-content: flex-start !important;
}

}

@media (min-width: 768px) and (max-width: 900px){
  #projectFolder-title {
  display: none;
  }
}

@media (min-width: 426px) and (max-width: 600px){
  .assignee > p{
    width: 12rem;
  }
  .creator > p {
    width: 12rem;
  }
  .multipdf-viewer{
    max-width: 100%;
  }
}
@media (max-width: 500px) and (min-width: 426px){
  .assignee > p{
    width: 9rem;
  }
  .creator > p {
    width: 9rem;
  }
    


}
@media (max-width: 560px) {
  #topic-card-detail-grp > li > label{
    display: none;
  }
  .activity-file{
    max-width: 220px;
    white-space: nowrap;
    /* Prevents text from wrapping to a new line */
    overflow: hidden; 
    text-overflow: ellipsis;
    display: block;
  }
  .rdt_Pagination {
    justify-content: flex-start !important;
    width: 10% !important;
    padding: 0 !important;
  }
}
@media (max-width: 420px ){
  .assignee {
    display: none;
  }

}
/* Styles for screens between 426px and 767px */
@media (min-width: 426px) and (max-width: 767px) {
  .panel-right {
    width: calc(100%);
  }

  .container-content {
    flex-direction: column;
    /* Stack the sidebar and content */
  }

  #projectFolder-title {
    margin-top: 0.5rem;
    margin-left: 0;
    /* Adjusted for better alignment */
    text-align: center;
    /* Center align the title */
    z-index: 1 !important;
  }

  .projectFolder-sidebar {
    width: 100%;
    /* Sidebar takes full width */
    margin-bottom: 15px;
    /* Space between sidebar and content */
    padding-left: 10px;
  }

  .projectFolder-display {
    width: 100%;
  }

  #todo-due-date,
  #todo-priority,
  #todo-type,
  #todo-title,
  #todo-assignee,
  #todo-desc {
    width: 90%;
    /* Full width for form inputs */
    font-size: 14px;
    /* Slightly smaller font for better fit */
  }

  /* #add-new-project-btn {
    width: 20%;

    height: 38px;
    font-size: 11px;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;

    position: relative;
  } */

  #nav-label {
    font-size: 0.75rem;
    display: none;
    /* Hide the nav label */
  }

  #nav-icons {
    width: 20px;
    /* Adjust icon size */
    height: 20px;
    margin-right: 8px;
  }

  .subnav {
    margin-left: 10px;
  }

  .grid-item h5 {
    font-size: 10px;
    /* Adjust header size */
    font-weight: bold;
  }

  .grid-item p {
    font-size: 0.7rem;
    /* Smaller text */
    margin-bottom: 0.4rem;
  }

  .dropdown-item {
    font-size: 0.8rem;
  }

  .filter-dropdown>.dropdown-item {
    margin: 2px;
    padding: 2px;
  }

  div:where(.swal2-container).swal2-center>.swal2-popup {
    width: 350px;
  }

  #share-with {
    width: 100% !important;
  }

  #share-with>option {
    font-size: 13px;
  }

  #topic-sort {
    width: 150px;
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  .multipdf-viewer{
    max-width: 100%;
  }
  .add-download-btngroup{
    flex-direction: column;
    align-items: center;
  }
  .addQR-btn, .downloadNewPDF-btn{
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
  }
  .pdf-iframe{
    height: 300px;
  }

  .projectFolder-sidebar-container{
    border-right: none;
    border: none;
  }
  .releaseFilter-offcanvas-body {
    height: 355px; 
    overflow-y: auto;
}
.reset-filter-btn{
  font-size: .785rem;
}
  .panel-right {
    width: 100%;
  }

  .projectFolder-sidebar {
    display: none;
  }

  /* #project-folder-container {
    display: unset;
  } */

  .projectFolder-display {
    width: 100%;
    height: unset;
  }

  /* .page-title h2 {
    display: none;
  } */

  .project-content{
    margin-top: 1rem;
  }
  /* #explorer-buttons {
    display: none !important;
  } */
   #listView-toggle, #gridView-toggle {
    display: none;
   }

  .dataTables_wrapperz {
    font-size: 12px;
  }

  .topic-card {
    padding: 20px
  }

  .topic-title {
    font-size: 18px;
  }

  .row-distribute {
    gap: 5px;
  }

  .assignee>p {
    width: 150px;
    font-size: 14px;
  }

  .creator {
    font-size: 14px;
  }

  .topic-config>ul>li {
    font-size: 12px;
  }

  .addFolder-subDropdown{
    width: 150px;
  }
  .addFolder-subdd-item{
    font-size: .875rem;
  }
  .addFile-dd-icon{
    width: 1.5rem;
  }

  /* #todo-filters{
    display: none !important;
  } */
   .filter-type{
    font-size: .75rem !important;
   }
   #todo-filter-item{
    margin-right: 5px !important;
    font-size: .7rem;
   }
   #release-filters{
    margin-top: 6.75rem;
   }
   .filter-dropdown{
    padding: 5px;
   }
   .filter-label{
    font-size: .750rem !important;
   }

   .tableWrapper{
    min-height: 100%;
   }


  /* Mobile Nav Menu */
  .sidebar-toggle-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
  }

  .sidebar-toggle-btn:focus{
    background-color: #00000000 !important;
  }

  .mobile-nav-icon {
    color: #eb6314;
  }

  .custom-offcanvas .offcanvas-header {
    border-bottom: 1px solid #eaeaea;
  }

  .custom-offcanvas .offcanvas-body {
    padding: 0;
  }

  .projectFolder-sidebar-mobile ul {
    list-style-type: none;
  }

  #mobile-nav-icons {
    color: #eb6314;
    width: 1rem;
    height: auto;
  }

  #mobile-nav-label {
    color: #212A31;
    font-weight: 600;
    font-size: .875rem;
    margin-left: 5px;
  }

  #mobile-nav-item {
    padding-left: 5px;
  }

  #mobile-nav-item.active,
  .mobile-nav-item-subgroup.active,
  .mobile-nav-item-group.active {
    background-color: #fec19db8;
    border-left: 4px solid #eb6314;
    margin-left: 4px;
  }

  .mobile-navmenu{
    padding: 0;
  }
  .mobile-subnav{
    padding-left: 1.2rem;
  }
  .mobile-navmenu li {
    line-height: 2rem;
  }
  /* End of Mobile Menu */

}

@media (max-width: 375px) {
  /* #add-new-project-btn {
    top: 0;
  } */
   .rdt_Pagination > div > div > select {
    width: 20px !important;
   }
}

@media (max-width: 360px) {
  #editProject-saveBtn{
    font-size: .875rem;
  }
  
}
