select.form-control {
    appearance: auto !important;
    -webkit-appearance: auto !important;
    -moz-appearance: auto !important;
}

.form-check-input:checked {
    background-color: #f87c34;
    border-color: #f87c34;
}

.addUser-form-page{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBFBF9;
}
.addUser-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: white;
    padding: 2rem;
    /* width: 60vw; */
    max-width: 700px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .09);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.addUser-form-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addUser-form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.2rem;
}

.addUser-form-title{
    text-align: left;
}

.form-group-multiple{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.access-btn-group{
    display: flex;   
    flex-direction: row;
    justify-content:space-evenly;
}

input#password{
    font-size: 1rem;
}

.back-btn:hover{
   color: inherit;
}