.add-user-btn {
  background-color: #eb6314;
  color: #FFFFFF;
  border-radius: 5px;
  border: none !important;
  padding: 7px 20px;
  font-size: 14px;
}

.top-filter #filter {
  border: none;
  border-radius: 3px;
  color: #626262;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  margin-right: 6px;
}

#search-bar {
  padding: 7px 20px;
  border: none;
  border-radius: 3px;
  color: #626262;
  cursor: text;
  border: 1px solid #dfdfdf;
  background-color: #FBFBF9;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 2px;
}

.title-page {
  margin-bottom: 50px;
}

.dataTables_wrapper .rdt_TableHead .rdt_TableHeadRow {
  background-color: rgba(0, 0, 0, .09);
  /* changed */
  /* border-radius: 10px; */
  margin-bottom: 6px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #101720;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

span.user-email-row {
  color: #a7a7a7;
  font-size: 12px;
  margin-top: 2px;
}

.iGxMlw {
  border-bottom-color: rgb(191 191 191 / 12%) !important;
}

.kqWIVd {
  border-top: 0 !important;
  justify-content: flex-start !important;
  margin-top: 40px;
}

.fceIjj {
  border-top: 0 !important;
  justify-content: flex-start !important;
  margin-top: 40px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  padding: 5px;
  /* text-align: center; */
  flex-wrap: nowrap;
}

.profile-image {
  background: #FFF;
  border-radius: 5px;
}

.profile-image img {
  width: 152px;
  height: 165px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 15px;
}

.profile-container .user-details {
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: left;
  font-size: 15px;
  gap: 2px 52px;
}

.profile-container p {
  font-size: 14px;
}

.profile-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;

}

.user-details div p {
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.email-text {
  word-break: break-all;
}

.container .custom-content-container {
  margin-top: 50px;
}

/* @media (max-width: 768px) {
  .container .custom-content-container {
    margin-top: 0px;
  }
} */

@media (max-width: 991px) and (min-width: 769px) {
  #addUser-button{
    margin-right: -385px;
  }
}